<ion-view view-title="">
  <ion-content padding = "true">

  <h2><strong>Publications Overview</strong></h2>


  			<div class="card">
            <h5><em>Professor Scott Nelson, Professor Debbie Lawlor and Dr Tom Kelsey have published more than 500 research papers. You can download some of these for free.</em></h5>
            </div>

            <div class="card">
            <p class="extra3">Several of these publications are directly relevant to IVF, ensuring that patients get individualised treatment, optimal outcomes and maximal chances of a live birth. These include: </p>
            
            
          <div class="list list-inset">
          		<div class="item">
          			<a href="http://www.plosone.org/article/info:doi/10.1371/journal.pone.0008772" target="_new">Calculating the rate of decline in your ovarian reserve 
                from birth </a>
          		</div>
          		<div class="item">
          			<a href="http://humrep.oxfordjournals.org/content/24/4/867.long" target="_new">Using AMH to indivualise treatment strategies</a>
          		</div>

            	<div class="item item-divider">
            	Use of AMH as a marker of your ovarian reserve
            	</div>
            	<div class="item">
            		<a href="http://humrep.oxfordjournals.org/content/22/9/2414.long" target="_new">How  AMH can predict live birth</a>
            	</div>
            	<div class="item">
            		<a href="http://www.ncbi.nlm.nih.gov/pubmed/20869051" target="_new">Interpreting AMH for your age </a>
            	</div>
            </div>

            </div>
            <a href="http://www.ncbi.nlm.nih.gov/PubMed/" target="_new" class="link link-indent"><span><span>Find more papers by the authors</span></span></a>

            

  </ion-content>
</ion-view>