<ion-view view-title="">
  <ion-content padding = "true">

            <h2><strong>PLOS Medicine paper</strong></h2>
           
           <div class="card">
           <div class="item item-text-wrap">
              <h2>The full PLOS Medicine paper that IVFpredict was based is now available for free download.</h2>
              <ul class="list-2">
                <li class="link"><a href="http://www.plosmedicine.org/article/info%3Adoi%2F10.1371%2Fjournal.pmed.1000386#s6" target="_new">Download now</a></li>
              </ul>
              <a href="http://www.plosmedicine.org/home.action" target="_new" class="link"><span><span>more info</span></span></a>
              </div>
              </div>
  
					           
            <div class="card">
            <div class="item item-text-wrap">
              <strong><a href="http://www.plosmedicine.org">PLOS Medicine</a></strong>
              <br /> PLOS Medicine is the leading open-access medical journal,   providing an innovative and influential venue for research and comment on the major challenges to human health worldwide. <br />
              <strong>Freely available<a href="#"></a></strong>
              <br /> Making the world's scientific and medical literature a freely available public resource. <br />
              <strong>Outstanding research<a href="#"></a></strong>
              <br /> Outstanding primary research articles in all areas of medicine; from clinically directed basic science to epidemiology and clinical trials.<br/>
            </div>
            </div>
                 
  </ion-content>
</ion-view>