<ion-view view-title="Research">
  <ion-content padding = "true">
  <h2><strong>Ongoing Research </strong></h2>
  <div class ="list card">
  			<div class="item item-body">
            	<img src="img/research.jpg" class="full-image" />
            </div>

            <div class="item item-body">
	            <h4>The team have several ongoing projects trying to improve IVF live birth success rates and develop novel reproductive lifespan prediction models</h4>
            </div>
            <div class="item item-body">
              <h4>If you would like to test IVFpredict on your own clinic data we would love to hear from you.<a href="http://ivfpredict.com/index-4.html" target="_new">Contact us</a></h4>
            </div>
</div>
  </ion-content>
</ion-view>